@import "tailwindcss";

/* Variables CSS globales */
:root {
  /* Colors */
  --background: #0d1320;
  /* --background: #0A0E17; */
  --accent: #bae4ff;
  --primary: #18233a;
  --secondary: #0b101a;
  --tertiary: #89d2ff;
  --text-color: #bed0dd;
  --text-glassmorphic: #666666;

  /* Variables pour les tailles d'écran */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;
}

/* Définition des thèmes personnalisés */
@theme inline {
  --color-background: var(--background);
  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-tc: var(--text-color);
  --color-gc: var(--text-glassmorphic);
}

/* Couche de base (styles globaux) */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply p-0 m-0 box-border bg-background text-tc max-w-screen overflow-x-hidden;
    font-family: var(--font-inter);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-white font-bold m-0 p-0;
    /* color: white; */
  }
  h1 {
    @apply tracking-tighter leading-tight text-4xl md:text-7xl;
    /* color: white; */
  }
  h2 {
    @apply text-2xl sm:text-3xl md:text-5xl leading-tight tracking-tight;
  }
  h3 {
    @apply text-xl md:text-2xl;
  }

  a {
    @apply text-white no-underline;
    &:hover {
      @apply text-tertiary transition-colors duration-300;
    }
  }
  section {
    @apply max-h-[1000px];
  }
}

/* Couche de composants */
@layer components {
  button {
    @apply bg-primary text-white py-2 px-6 cursor-pointer font-semibold;

    &:hover {
      @apply bg-accent text-primary transition-colors duration-300;
    }
  }

  .btn-tab {
    @apply rounded-lg text-sm;
    @apply lg:py-6 lg:px-7 lg:text-lg py-3;
  }
  .btn-tab-active {
    @apply bg-primary text-white;
    &:hover {
      @apply bg-[#233354] text-white;
    }
  }
  .btn-tab-non-active {
    @apply bg-accent text-primary;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    @apply text-accent;
  }

  .services-div {
    @apply h-[500px] w-3/4 py-8;

    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    h3 {
      @apply text-center text-xl md:text-xl lg:text-2xl;
    }
  }
}

/* Couche d'utilitaires */
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .glassmorphic {
    @apply bg-gc/10 backdrop-blur-sm border border-white/10;
  }
  .section-title {
    @apply flex items-center justify-center gap-2 md:gap-3 pt-25;
  }
}

/*//////////////////////////////////////////////////////////////*/

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

#stars, #stars:after,
#stars2, #stars2:after,
#stars3, #stars3:after {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  background: transparent;
  display: block;
}

#stars {
  width: 1px;
  height: 1px;
  box-shadow: 
    1024px 1943px #FFF, 352px 1531px #FFF, 885px 1180px #FFF, 
    1364px 1286px #FFF, 1046px 1927px #FFF, 1431px 642px #FFF, 
    473px 1847px #FFF, 1083px 1347px #FFF, 1411px 198px #FFF; /* tu peux en ajouter + */
  animation: animStar 50s linear infinite;
}

#stars:after {
  top: 2000px;
  box-shadow: inherit;
}

#stars2 {
  width: 2px;
  height: 2px;
  box-shadow: 
    1124px 743px #FFF, 122px 631px #FFF, 785px 380px #FFF,
    1164px 786px #FFF, 846px 927px #FFF, 831px 442px #FFF;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  top: 2000px;
  box-shadow: inherit;
}

#stars3 {
  width: 3px;
  height: 3px;
  box-shadow:
    424px 1043px #FFF, 652px 131px #FFF, 985px 780px #FFF;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  top: 2000px;
  box-shadow: inherit;
}
